:root {
    --grey-1: #FFF5F5;
    --grey-2: #666262;
    --grey-3: #999393;

    --blue-1: #45A3C4;

    --pink-1: #F98CA1;
    --pink-2: #870F26;
    --pink-3: #FFDBE2;
    --pink-4: #FFB5C3;
    --pink-5: #D4576F;

    --red-1: #9C4040;
    --red-2: #E9A6A6;

    --green-1: #409C54;
    --green-2: #A6E9B4;
}