.glass-icon {
    position: absolute;

    animation: icon-move 3s linear infinite;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 80px;
    height: 80px;

    background: rgba(255, 245, 245, 0.1);
    border: 0.731343px solid rgba(255, 245, 245, 0.1);
    box-shadow: 0px 2.92537px 2.92537px rgba(0, 60, 82, 0.1);
    backdrop-filter: blur(46.806px);
    border-radius: 9px;
}

.jacket {
    left: calc(100% - 40px);
    top: calc(0% - 40px);
}

.dress {
    right: calc(100% - 40px);
    top: calc(100% - 40px);
}


@keyframes icon-move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 630px) {
    .glass-icon {
        display: none
    }
}